# dependencies
node_modules/

# build
dist/
dist-ssr/
*.local

# Vite
.vite/

# environment variables
.env
.env.local
.env.*.local

# editor
.vscode
.vscode/*
!.vscode/extensions.json
.idea/

# SO
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# test files
*.pdf
*.csv

# local claude files
.claude/
.claude.json

CLAUDE.md
spec.md